<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Burgers!</h1>





    <ul>
      {{#each burgers}}
      {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
      {{/unless}}
      {{/each}}
    </ul>

    <h2>Burgers that are devoured!</h2>

    <ul>
      {{#each burgers}}
      {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
      {{/if}}
      {{/each}}
    </ul>


    <h2>Add a Burger</h2>



    <form class="create-form">

      <div class="form-group">
        <label for="bu">Burger Name:</label>
        <input type="text" id="bu" name="name">
      </div>

      <div class="form-group">
        <label for="devoured">devoured?</label><br>
        <input type="radio" id="dev" name="devoured" value="1" checked> Devoured!<br>
        <input type="radio" name="devoured" value="0"> Not Devoured
      </div>

      <button type="submit">Add Burger</button>
    </form>
    <br>
      <div class="card">
  <div class="card-body">

  <img class="card-img-bottom" src="/assets/images/toa-heftiba-296435-unsplash.jpg" alt="Card image cap">
</div>


  </div>
</div>

<style>
  h1 {
    font-family: fantasy;


  }

  h2 {
    color: red;
  }

  body {
    margin: auto;
    width: 60%;
    background-color: rgb(240, 215, 106);
  }
</style>