li {
    
    padding: 5px;
    margin: 5px;
    /* background: #faebd7; */
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  
  h1 {
    font-family: fantasy;


  }

  h2 {
    color: red;
  }

  body {
    margin: auto;
    width: 60%;
    background-color: rgb(240, 215, 106);
  }
  
  
